[Unit]
Description=intranet
After=network.service
Requires=nginx.service

[Service]
WorkingDirectory=/var/www/intranet-2015
ExecStart=/usr/bin/npm start
Restart=always
Environment='NODE_ENV=production'
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
