.nav-pills a {
    cursor: pointer;
}

.pagesContainer {
    height: calc(100% - 120px);
    padding-top: 20px;
}

.page {
    height: 100%;
    opacity: 0;
    padding: 0 15px;
    position: relative;
    -webkit-transition: opacity .28s ease;
       -moz-transition: opacity .28s ease;
         -o-transition: opacity .28s ease;
            transition: opacity .28s ease;
    z-index: 1;
}

.page.active {
    opacity: 1;
    z-index: 2;
}

.page:nth-child(2) {
    top: -100%;
}

.page:nth-child(3) {
    top: -200%;
}

.page:nth-child(4) {
    top: -300%;
}
