.nav-pills a {
    cursor: pointer;
}

.pagesContainer {
    height: calc(100% - 120px);
    padding-top: 20px;
}

.page {
    display: none;
    height: 100%;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.page.active {
    display: block;
    z-index: 2;
}

.looser.tree .round-1 {
    margin-right: 30px;
}

[data-haspools="false"] {
    display: none;
}

.label {
    font-size: 16px;
    font-weight: 400;
    margin-top: 2px;
}

.lose .label, .win .label {
    color: #777;
}

.lose.highlightWinner .label, .win.highlightWinner .label {
    color: #fff;
}

.tree input {
    color: #000;
}

div.jQBracket .team div.label {
    color: #888;
}
