.nav-pills a {
    cursor: pointer;
}

.pagesContainer {
    height: calc(100% - 120px);
    padding-top: 20px;
}

.page {
    display: none;
    height: 100%;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.page.active {
    display: block;
    z-index: 2;
}
